<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <title>{% block title %}Ekuty's Portfolio{% endblock %}</title>
</head>

<body>
    <nav id="navbar">
        {% block navbar %}
            <div class="nav-container">
                <div class="logo">
            LOGO
        </div>
        <div class="hamb-btn">
            <div class="nav-open" id="nav-open">
                E
            </div>
            <div class="nav-close" id="nav-close">
                X
            </div>
        </div>
        <div class="nav-links" id="nav-links">
            <ul>
                <li><a href="#home"><span class="harsh-style">#</span>home</a></li>
                <li><a href="#works"><span class="harsh-style">#</span>works</a></li>
                <li><a href="#about-me"><span class="harsh-style">#</span>about-me</a></li>
                <li><a href="#contact"><span class="harsh-style">#</span>contact</a></li>
                <form method="get" action="/set-language/">
                    <select name="lang" onchange="this.form.submit()" id="">
                        <option value="en">
                            English
                        </option>
                        <option value="fr">
                            French
                        </option>
                    </select>
                </form>
            </ul>
        </div>
            </div>
        {% endblock %}
    </nav>

    <div id="content">
        {% block content %}
        <h1>Welcome to Ekuty's Portfolio</h1>
        <p>This is a showcase of my work and projects.</p>
        {% endblock %}

        <script src="{% static 'js/script.js' %}"></script>
    </div>
</body>
</html>