<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <title>{% block title %}Ekuty's Portfolio{% endblock %}</title>
  </head>

  <body>
    <nav id="navbar">
      {% block navbar %}
      <div class="nav-container">
        <div class="logo">Ekuty's</div>
        <div class="hamb-btn">
          <div class="nav-open" id="nav-open">
            <img
              class="nav-icon-img"
              src="{% static 'images/nav-open.png' %}"
              alt="Menu"
            />
          </div>
          <div class="nav-close" id="nav-close">
            <img
              class="nav-icon-img"
              src="{% static 'images/nav-close.png' %}"
              alt="Close Menu"
            />
          </div>
        </div>
        <div class="nav-links" id="nav-links">
          <ul class="nav-hover">
            <li>
              <a href="#home"><span class="harsh-style">#</span>home</a>
            </li>
            <li>
              <a href="#works"><span class="harsh-style">#</span>works</a>
            </li>
            <li>
              <a href="#about-me"><span class="harsh-style">#</span>about-me</a>
            </li>
            <li>
              <a href="#contact"><span class="harsh-style">#</span>contact</a>
            </li>
            <form method="get" action="/set-language/">
              <select name="lang" onchange="this.form.submit()" id="">
                <option value="en">EN</option>
                <option value="fr">FR</option>
              </select>
            </form>
          </ul>
        </div>
      </div>
      {% endblock %}
    </nav>

    <main id="content">
      {% block content %} {% comment %} Home section {% endcomment %}
      <section id="home">
        <div class="home-container">
          <div class="home-top">
            <div class="home-left-top">
              <h1 class="message-top">
                Ekuty is a <span class="message-pink">Frontend</span> and
                <span class="message-pink">Backend</span> web developer
              </h1>
              <p class="text-grey">
                He crafts responsive websites where technologies meet creativity
              </p>
              <a href="#contact" class="contact-btn">Contact me!!</a>
            </div>
            <div class="home-right-top">
              <div class="home-right-t">
                {% comment %}
                <img
                  src="{% static 'images/wire.png' %}"
                  alt=""
                  class="img-wire"
                />
                {% endcomment %}
                <img
                  src="{% static 'images/man.png' %}"
                  alt="Ekuty's image"
                  class="img-man"
                />
                {% comment %}
                <img
                  src="{% static 'images/dot.png' %}"
                  alt=""
                  class="img-dot"
                />
                {% endcomment %}
              </div>
              <div class="home-right-bottom">
                <div class="pink-box"></div>
                <p class="text-grey-1">
                  Curently working on
                  <span class="text-white">FullStack Development</span> and
                  <span class="text-white">Machine Learning</span> Projects
                </p>
              </div>
            </div>
          </div>
          <div class="home-bottom-center">
            <div class="home-bottom">
              <div class="text-box">
                <img
                  src="{% static 'images/double_quote.png' %}"
                  alt=""
                  class="double-quote"
                />
                <p class="text">
                  With great power comes great electricity bill
                </p>
              </div>
              <div class="text-author">
                <img
                  src="{% static 'images/double_quote.png' %}"
                  alt=""
                  class="double-quote-1"
                />
                <p class="text-author-stl">- Dr. Who</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% comment %} works section {% endcomment %}
      <section id="works">
        <div class="works-container">
          <div class="works-heading">
            <h1 class="works-h"><span class="harsh-style">#</span>Projects</h1>
            <div class="works-line"></div>
          </div>
          <div class="works-more">
            <a href="#" class="works-more-link">View All ~~&gt;</a>
          </div>
        </div>
        <div class="work-grids">
          {% for project in projects %}
          <div class="works-project-card">
            <img
              class="project-image"
              src="{{ project.image.url }}"
              alt=""
            />
            <div class="card-project-lang-used">{{ project.programing_lang_used }}</div>
            <div class="project-desc">
              <h1 class="project-title">{{ project.title }}</h1>
              <p class="desc-of-proj">{{ project.description }}</p>
              <div class="card-btns">
                <a href="{{ project.link }}"  class="live-btn">live &lt;~&gt;</a>
                <a href="#" class="code-btn">code &ge;</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      {% comment %} Skills section {% endcomment %}
      <section id="skills">
        <div class="skills-container">
          <div class="skills-heading">
            <h1 class="skills-h"><span class="harsh-style">#</span>Skills</h1>
            <div class="skills-line"></div>
          </div>
        </div>
        <div class="skills-list">
            <div class="skills-left">
              <img src="{% static 'images/skills_img.png' %}" alt="">
            </div>
            <div class="skills-right">
              <div class="skills-items">
                <div class="skills-title">
                  language
                </div>
                <div class="skills-listed">
                  css, javascript
                </div>
              </div>
              <div class="skills-items">
                <div class="skills-title">
                  language
                </div>
                <div class="skills-listed">
                  css, javascript
                </div>
              </div>
              <div class="skills-items">
                <div class="skills-title">
                  language
                </div>
                <div class="skills-listed">
                  css, javascript
                </div>
              </div>
              <div class="skills-items">
                <div class="skills-title">
                  language
                </div>
                <div class="skills-listed">
                  css, javascript
                </div>
              </div>
              <div class="skills-items">
                <div class="skills-title">
                  language
                </div>
                <div class="skills-listed">
                  css, javascript
                </div>
              </div>
            </div>
          </div>
      </section>
      {% endblock %}
      <script src="{% static 'js/script.js' %}"></script>
    </main>
  </body>
</html>
