@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-style: normal;
}

body {
  background-color: #282C33;
  transition: color 0.3s ease-in-out
}

a {
  text-decoration: none;
  color: #ABB2BF;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: #fff;
}

ul {
    list-style: none;
  }

  select {
    border: none;
    background: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  select:hover {
    color: #C778DD;
    transition: color 0.1s ease-in-out;
  }


  option {
    background: #282C33;
    border: none;
    width: 100px;
  }

  select::selection {
  border: none;
}

section {
    width: 85%;
    max-width: 1024px;
    min-width: 200px;
    margin: 0 auto;
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.harsh-style {
  color: #C778DD;
}

/* navbar styling */
#navbar {
  width: 100%;
  margin-top: 20px;
}

.nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1024px;
    min-width: 200px;
    margin: 0 auto;
  }

.nav-open {
  display: block;
}

.nav-close, .nav-links {
  display: none;
}

.nav-links {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  background-color: #282C33;
  font-size: 20px;
  margin-left: 20px;
}

.active, .display {
  display: block;
}

.hide {
  display: none;
}

.nav-icon-img {
  width: 24px;
  height: auto;
}

.nav-icon-img {
  z-index: 10000;
  position: relative;
}

/* Home section styling */
.home-left-top {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 450px;
}
.message-pink {
  color: #FF79C6;
}
.message-top {
  margin-bottom: 50px;
}
.text-grey {
  font-size: 16px;
  color: #ABB2BF;
  margin-bottom: 50px;
}

.text-grey-1 {
  font-size: 16px;
  color: #ABB2BF;
}
.contact-btn {
  display: none;
}

.text-box {
  position: relative;
  border: solid 2px #fff;
  padding: 20px;
}

.text-author {
  position: relative;
  border: solid 2px #fff;
  padding: 20px;
  border-top: none;
}

.img-man {
  width: 100%;
  min-width: 150px;
  max-width: 469px;
  height: auto;
}

.home-right-bottom {
  border: solid 2px #fff;
  padding: 5px;
  min-width: 150px;
  max-width: 450px;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 30px;
}

.pink-box {
  width: 20px;
  height: 16px;
  background-color: #FF79C6;
  margin-right: 5px;
  /* border: solid 1px #FF79C6; */
}

.home-bottom {
  display: none;
  color: #fff;
}

.double-quote {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 30px;
  height: auto;
}

.double-quote-1 {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 30px;
}

/* Works section styles */
.works-container {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 30px;
}
.works-heading {
  display: flex;
  align-items: center;
  color: #fff;
  width: 60%;
}

.works-line {
  width: 80%;
  min-width: 10px;
  height: 2px;
  background-color: #C778DD;
  margin-left: 20px;
}

.works-project-card {
  border: solid 1px #fff;
  max-width: 330px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ABB2BF;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  height: auto;
}

.card-project-lang-used {
  border: solid 1px #fff;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 5px;
}

.project-desc {
  width: 100%;
  padding: 5px;
}

.project-title {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.card-btns {
  margin-top: 20px;
  margin-bottom: 20px;
}

.live-btn {
  border: solid 1px #FF79C6;
  padding: 5px 10px 5px 10px;
}

.code-btn {
  border: solid 1px #ABB2BF;
  padding: 5px 10px 5px 10px;
}

/* Responsive styling */
@media only screen and (min-width: 500px) {
  .work-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .nav-links {
    display: block;
    position: sticky;
    font-size: 16px;
    padding: 0;
  }

  .nav-close, .nav-open {
    display: none;
  }

  ul {
    display: flex;
    gap: 20px;
  }

  /* home section styling */
  .home-top {
    display: flex;
    justify-content: space-between;
    align-items: top;

  }
  .contact-btn {
    display: block;
    border: solid 1px #FF79C6;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 148px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
  }

  .contact-btn:hover {
    background: #6b5964;
  }

  .home-bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .home-bottom-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  /* works section styles */
  .works-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .work-grids {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}